<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBeerWithSoapService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:55860/HostDevServer/BeerWithSoapService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBeerWithSoapService"
                contract="BeerService.IBeerWithSoapService" name="BasicHttpBinding_IBeerWithSoapService" />
        </client>
    </system.serviceModel>
</configuration>